<div class="right_col" role="main">
    <div class="page-title">
        <div class="title_left">
            <a href="/dashboard">
                <h3>Dashboard</h3>
            </a>
        </div>
    </div>

    <div class="clearfix"></div>

    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>
                        <%= pemilihanDisini.namaPemilihan %> <small><%= pemilihanDisini.statusPemilihan %>(<%= pemilihanDisini.waktuAkhir %> - <%= pemilihanDisini.waktuAkhir %>) </small></h2>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <br />
                    <form id="demo-form2" action="/dashboard/tambah-pemilihan" method="post" class="form-horizontal form-label-left">
                        <div class="form-group">
                            <label for="waktuPelaksanaan">Waktu Pelaksanaan</label>
                            <input type="text" class="form-control" name="waktuPelaksanaan" id="waktuPelaksanaan">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>