<!-- top navigation -->
<div class="top_nav" style="margin-left: 0;">
    <div class="nav_menu">
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">


                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                    <div class="nav toggle-brand">
                        <a><i class="fa fa-paw"></i> Pungut Suara!</a>
                    </div>
                </div>
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

                    <ul class="nav navbar-nav navbar-right">
                        <li>
                            <a href="/auth" class="buat-akun">Buat Pemilihan Sekarang</a>

                        </li>
                        <!-- <li><a href="#">Pemilihan</a></li> -->
                        <li><a href="#">Tentang Kami</a></li>
                        <li><a href="#">Beranda</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
</div>
<!-- /top navigation -->
<div class="right_col" role="main" style="margin-left: 0;    justify-content: center !important;">
    <!-- jumbotron -->
    <div class="container position-relative">
        <div class="row justify-content-center">
            <div class="col-xs-12">
                <div class="bs-example" data-example-id="simple-jumbotron">
                    <div class="jumbotron">
                        <h1>Selamat Datang di Pungut Suara!</h1>
                        <p>Membuat Pemilihan itu Mudah <span class="p-jumbo">, Mencoblos dimana dan kapan saja anda berada, Golput Bukanlah Pemecah Masalah, Demokrasi kita setinggi tingginya</span></p>
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Cari">
                            <span class="input-group-btn">
                                    <button type="button" class="btn btn-primary">Go!</button>
                                </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- jumbotron -->
    <!-- Icons Grid-->
    <section class="features-icons bg-light text-center">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-xs-12">
                    <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
                        <div style="height: 7rem;" class="features-icons-icon d-flex"><i style="font-size: 5rem;" class="bi-calendar-plus m-auto text-primary"></i></div>
                        <h3>Buat Pemilihan</h3>
                        <p class="lead mb-0">Rencanakan Pemilihan dengan mudah dan aman</p>
                    </div>
                </div>
                <div class="col-lg-4 col-xs-12">
                    <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
                        <div style="height: 7rem;" class="features-icons-icon d-flex"><i style="font-size: 5rem;" class="bi-layers m-auto text-primary"></i></div>
                        <h3>Proses Pemilihan</h3>
                        <p class="lead mb-0">Memudahkan memilih dimana pun dan kapan pun</p>
                    </div>
                </div>
                <div class="col-lg-4 col-xs-12">
                    <div class="features-icons-item mx-auto mb-0 mb-lg-3">
                        <div style="height: 7rem;" class="features-icons-icon d-flex"><i style="font-size: 5rem;" class="bi-graph-up m-auto text-primary"></i></div>
                        <h3>Penghitungan Suara</h3>
                        <p class="lead mb-0">Tersedia proses perhitungan secara live dijamin cepat dan akurat</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

</div>